<div class="row">
  <h3>Quotes</h3>
</div>


<div class="">
  <div class="">
    <% if locals.any? %>
      <%= message %>
    <% end %>
  </div>

  <% @quotes.each do |q| %>
    <div class="quote row">
      <p>&quot;<a href="/quotes/<%= q.id %>"><%= q.quote %></a>&quot;</p>
      <p class="author"><i><a href="/authors/<%= q.author.id %>"><%= q.author.name %></a></i></p>
      <div class="topic row">
        <i><a href="/topics/<%= q.topic.id %>"><%= q.topic.name %></a></i>
      </div>
    </div>
  <% end %>
</div>
