<div class="row">
  <h3>Quote</h3>
</div>

<div class="center message">
  <% if locals.any? %>
    <i><%= message %></i>
  <% end %>
</div>

<div class="quote row">
  <p>&quot;<a href="/quotes/<%= @quote.id %>"><%= @quote.quote %></a>&quot;</p>
  <p class="author"><i><a href="/authors/<%= @quote.author.id %>"><%= @quote.author.name %></a></i></p>
  <div class="topic row">
    <i><a href="/topics/<%= @quote.topic.id %>"><%= @quote.topic.name %></a></i>
  </div>
</div>

<div class="center">
  <p>
    <span id="edit">
      <a href="/quotes/<%= @quote.id %>/edit">Edit</a>
    </span>
  </p>

</div>
