<h1>Quote</h1>

<div>
  <% unless locals.empty? %>
    <%= message %>
  <% end %>
</div>

<div>
  <p><%= @quote.quote %> - <%= @quote.author.name %></p>
  <p> Topic: <%= @quote.topic.name %></p>
</div>
<p><a href="/quotes/<%= @quote.id %>/edit">Edit</a></p>

<div>
  <a href="/quotes/new">New quote</a>
  <a href="/quotes">Home</a>
</div>
