<div class="row">
  <h3><%= @author.name %>'s quotes</h3>
</div>


<% @author.quotes.each do |q| %>
  <div class="quote row">
    <p>&quot;<a href="/quotes/<%= q.id %>"><%= q.quote %></a>&quot;</p>
    <div class="topic row">
      <i><a href="/topics/<%= q.topic.id %>"><%= q.topic.name %></a></i>
    </div>
  </div>
<% end %>

<% if @author.quotes.empty? %>
  <form class="center" action="/authors/<%= @author.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
<% end %>
