<div class="row">
  <h3><%= @user.username %>'s' quotes</h3>
</div>


<% @user.quotes.each do |q| %>
  <div class="quote row">
    <p><a href="/quotes/<%= q.id %>"><%= q.quote %></a></p>
    <p><a href="/authors/<%= q.author.id %>"><%= q.author.name %></a></p>
    <div class="topic row">
      Topic: <a href="/topics/<%= q.topic.id %>"><%= q.topic.name %></a>
    </div>

  </div>
<% end %>
