<h1>User Homepage</h1>

<%= @user.username %>

<% @user.quotes.each do |q| %>
  <div>
    <p><a href="/quotes/<%= q.id %>"><%= q.quote %></a> - <a href="/authors/<%= q.author.id %>"><%= q.author.name %></a> </p>
    <p> Topic: <%= q.topic.name %></p>
  </div>
<% end %>

<h3><a href="/quotes/new">Add new quote</a></h3>

<br />
<a href="/logout">Log out</a>
