<div class="row">
  <h3><%= @user.username %>'s quotes</h3>
</div>


<% @user.quotes.each do |q| %>
  <div class="quote row">
    <p>&quot;<a href="/quotes/<%= q.id %>"><%= q.quote %></a>&quot;</p>
    <p class="author"><i><a href="/authors/<%= q.author.id %>"><%= q.author.name %></a></i></p>
    <div class="topic row">
      <i><a href="/topics/<%= q.topic.id %>"><%= q.topic.name %></a></i>
    </div>
  </div>
<% end %>
